.container{
  width:200px;
  height: 300px;
  border:1px solid #bdbdbd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  img{
    width:150px;
    height: 120px;
  }
}